.card {
    background-color: #384e53;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100px;
    text-align: center;
    margin-bottom: 16px;
    transition: transform 0.3s ease;
    padding: 1rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2);
}

.projects-images {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 0.1rem;
}

.card-content .card-text {
}

.card-content a {
    display: block;
    margin: 0.5rem 0;
    color: #2980b9;
    text-decoration: none;
}

.card-content a:hover {
    text-decoration: underline;
}