.container {
    padding: 0.2rem;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  p, .list-group-item {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .text-center a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #007bff;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 576px) {
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.75rem;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    h4 {
      font-size: 1.25rem;
    }
  }
  