.container {
    padding: 0.2rem;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }

  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .tech-icon {
    font-size: 4rem;
    color: #007bff;
    transition: color 0.3s ease;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 4px;
    animation: animate 20s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
  }

  .tech-icon:hover {
    color: #0056b3;
    }

    @keyframes animate {
      from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    .tech-item span {
      font-size: 1rem;
      color: azure;
    }

    .resume-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1rem;
      background-color: #033733;
      border-radius: 8px;
      box-shadow: 0 4px 40px rgba(187, 220, 200, 0.644);
    }
  
  @media (max-width: 576px) {
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.75rem;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    h4 {
      font-size: 1.25rem;
    }
  }
  