.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 39, 77);
    color: white;
    padding: 0.5rem 1rem;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
  }