.header-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 39, 77);
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(3, 234, 238, 0.2);
    width: 100%;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.nav-item {
    width: 100%;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .nav-link:hover,
  .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
  }

  @media (min-width: 577px) {
    .header-block {
        flex-direction: row;
    }
    .header-container {
        flex-direction: row;
        align-items: center;
    }
    .nav-list {
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    .nav-item {
        width: auto;
    }
    .nav-link {
        padding: 0.5rem 1rem;
        width: auto;
    }
  }