.aboutMe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.photo-javier {
    display: block;
    width: 50%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 1rem;
}

.aboutMe-text {
    max-width: 800px;
}