.aboutMe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #033733;
  border-radius: 8px;
  box-shadow: 0 4px 40px rgba(187, 220, 200, 0.644);
}

.aboutMe-container h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f0eaea;
}

.photo-javier {
  display: block;
  width: 30%;
  height: auto;
  border-radius: 3%;
  margin: 0 auto 1.5rem auto;
  margin-bottom: 1rem;
}

.aboutMe-text {
  font-size: 1rem;
  line-height: 1.2;
  max-width: 800px;
  color: #e2e2d9;
}
